SECRET_KEY=test

BOT_TOKEN=test
WEBAPP_URL=https://creditably-reverent-mosquito.cloudpub.ru/tg/

DEBUG=1

OPENROUTER_API_KEY=test
OPENROUTER_MODEL=openai/gpt-5-mini

ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=https://*.ru,https://www.*.ru

DB_ENGINE=django.db.backends.postgresql
DB_NAME=time_shape_manager
DB_USER=test
DB_PASSWORD=test
DB_HOST=localhost
DB_PORT=5432

REDIS_HOST=127.0.0.1
REDIS_PORT_=6379

VK_KEY=test
VK_SECRET=test

GOOGLE_KEY=test
GOOGLE_SECRET=test
